## GitIgnore Config
# This file is used to ignore certian files from the git repo
##

## CodeIgniter Ignore Settings
config/development
logs/log-*.php
logs/!index.html
*/logs/log-*.php
*/logs/!index.html
cache/*
cache/!index.html
##

## OSX
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
##

# Never ignore .htaccess or index files
!.htaccess
!index.html
##

# User uploads
uploads/*
uploads/!index.html
uploads/!.htaccess
##

# MFHT imported uploads
mfht_import/*
mfht_import/!index.html
mfht_import/!.htaccess
##

# User license files
user_license_files/*
user_license_files/!index.html
user_license_files/!.htaccess
##
