/*
|-----------------------------------
| imports
|-----------------------------------
*/
@import url("css/normalize.css");
@import url("css/uni-form.css");
@import url("css/default.uni-form.css");
@import url("css/tipsy.css");
@import url("css/fonts.css");

/*
|-----------------------------------
| page layout
|-----------------------------------
*/
::selection {
	background-color: #E13300;
	color: white;
}

::moz-selection {
	background-color: #E13300;
	color: white;
}

::webkit-selection {
	background-color: #E13300;
	color: white;
}

body {
	background: none repeat scroll 0 0 #F2F2F2;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container {
	background-color: #fff;
	margin: 40px auto;
	width: 900px;
	border: 1px solid #D0D0D0;

	-webkit-box-shadow: 0 0 8px #D0D0D0;
	-moz-box-shadow: 0 0 8px #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}


/*
|-----------------------------------
| Single-Page Message
|-----------------------------------
*/
#message-page {
	background: #525252;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8) inset;
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8) inset;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8) inset;
	color: #fff;
	display: block;
	width: 900px;
	margin: 5em auto;
	padding: 1em;
}

#message-page p,#message-page a {
	color: #fff;
	text-decoration: none;
}

#message-page h3 {
	font-size: 14px;
	margin: 0px 0px -8px 0px;
}

h3.success {
	color: green;
}

h3.error {
	color: red;
}

h3.info {
	color: blue;
}


/*
|-----------------------------------
| uni-form stuffs
|-----------------------------------
*/
.uniForm fieldset h3 {
	font-size: 25px;
}

.uniForm .inlineLabels ul li label {
	line-height: 2.2;
}

.uniForm .textInput,.uniForm .fileUpload,.uniForm .selectInput,.uniForm select,.uniForm textarea {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/*
|-----------------------
| message box notifications
|-----------------------
*/
.notification {
	display: block;
	clear: both;
	padding: 10px 10px 8px 36px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid;
	color: #646464;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	margin: 10px 0;
	line-height: 150%;
}

.notification p {
	margin: 0;
	padding: 0;
}

.close-notification {
	float: right;
	padding: 10px 3px 3px;
	text-decoration: none;
	color: #737373;
	position: relative;
	top: -16px;
	right: -2px;
}

.close-notification:hover {
	color: #333;
}

.notification.error {
	background-color: #f2d4ce;
	background-image: url(images/icons/icon_notification_error.png);
	border-color: #ae432e;
}

.notification.error strong {
	color: #ae432e;
}

.notification.success {
	background-color: #d9e6c3;
	background-image: url(images/icons/icon_notification_success.png);
	border-color: #77ab13;
}

.notification.success strong {
	color: #69990f;
}

.notification.attention {
	background-color: #faf6d4;
	background-image: url(images/icons/icon_notification_attention.png);
	border-color: #e6c26e;
}

.notification.attention strong {
	color: #be8007;
}

.notification.information {
	background-color: #cee6f2;
	background-image: url(images/icons/icon_notification_information.png);
	border-color: #058dc7;
}

.notification.information strong {
	color: #0576a6;
}

.notification.note {
	background-color: #f2f2f2;
	background-image: url(images/icons/icon_notification_note.png);
	border-color: #d1d1d1;
}

.notification.note strong {
	color: #737373;
}


/*
|-----------------------
| misc
|-----------------------
*/
.clear {
    display: block;
    clear: both;
    height: 0px !important;
    width: 0px !important;
}


.hlight {
    color: #000;
}

.slight {
    color: #ccc;
}

.round {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.small { width:33%; }
.medium { width:66%; }
.large { width:99%; }
.left { float:left; }
.right { float:right; }

.al {
    text-align: left;
    padding-left: 1em;
}


/*
|-----------------------
| icon font styles
|-----------------------
*/
.icon_font {
	font: 20px/20px 'WebSymbolsRegular', sans-serif;
	color: #000 !important;
	text-decoration: none !important;
}


/*
|-----------------------
| navigation style
|-----------------------
*/
#nav {
	float: right;
	padding: 10px;
	text-align: right;
}
#nav a {
	color: rgb(255,0,0);
}

/*
|-----------------------
| owl page styles
|-----------------------
*/
#owl_nav a {
	color: rgb(255,0,0);
}
#owl_nav {
	background: url(images/sidebar-short-left.png) no-repeat scroll 0 0 #FFFFFF;
}
#owl_body {
	padding: 20px 0;
}
.owl_body_details {
	padding-left: 13px;
	margin-top: -13px;
	display: block;
}
.chat_glyph {
	vertical-align: super;
	color: lightBlue ! important;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
}

/*
|-----------------------
| column styles
|-----------------------
*/
.column { width: 49%; }
.column.left { float: left; }
.column.right { float: right; }
.column.half { width: 39%; }
.column.third { width: 32%; }
.column.twothird { width: 66%; }
.column.quarter { width: 24%; }
.column.threequarter { width: 74%; }
.clear {display: block; clear: both; height: 0px !important; width: 0px !important; }

/*
|-----------------------
| google map styles
|-----------------------
*/
#map_canvas {
	height: 315px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

